@using Core.Entity
@model IEnumerable<Chat>

@{
    ViewData["Title"] = "Home Page";
}
<ul class="list-group">
    @foreach (var chat in Model)
    {
        @foreach (var item in chat.Posts)
        {
            <li class="list-group-item">
                <h2>Sent from @item.SourceChat.ChatName</h2>
                Text: <span>@item.Text</span>
                <h3>Assets:</h3>
                @foreach (var asset in item.Assets)
                {
                    @if (asset.AssetType is AssetType.Video)
                    {
                        <video width="400" controls src="@asset.PublicUrl"></video>
                    }
                    else
                    {
                        <img src="@asset.PublicUrl" width="400" alt="@asset.FileId"/>
                    }
                }
            </li>
        }
    }
</ul>